.table_container {
  width: 800px;
  margin: 0 auto;

  .table_toolbar {
    padding: 0.313rem;
    display: flex;
    align-self: center;
    justify-content: end;
    gap: 1.25rem;
    .table_toolbar_pagination_checkbox {
      -webkit-user-select: none;
      display: flex;
      align-items: center;
      gap: 0.313rem;
    }
  }
  .table {
    text-align: center;
    .table_header {
      width: 50%;
    }
  }

  &,
  th,
  td {
    padding: 0.313rem;
    border: 0.063rem #ffffff dashed;
  }
  .table_pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.313rem 0.125rem;
    gap: 1.25rem;
  }
  .table_pagination_btn_group {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }

  .table_pagination_button {
    padding: 0.4em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;

    border: 0.063rem #8e8e8e dashed;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .table_pagination_button:hover {
    border-color: #fff;
  }
  .table_pagination_button:active {
    border-color: #8e8e8e;
  }
}
